h1{
  padding-bottom: 50px;
  
}

.dp{
    display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Középre igazítja a tartalmat függőlegesen */
    align-items: center; /* Középre igazítja vízszintesen */
    
    padding-top: 30px;
    
    width: 1000px;
    height: 600px;
    
    border-radius: 8px;
    border: 1px soild #20b8cd;
    background-color: #202222;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
    text-align: center;        
  }
  

  /* REGISTER GOMB */
.button-27 {
  
    background-color: rgba(255, 255, 255, 0.35);  
    backdrop-filter: blur(10px);               
    border: 1px solid rgba(200, 200, 200, 0);
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(47, 46, 46);
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    font-size: 25px;
    
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
   
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
  }
  
  
  
  .button-27:hover {
    box-shadow: rgba(137, 156, 251, 0.336) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  
  /* REGISTER GOMB END */

  .form-floating input {        
    border-radius: 10px;
    width: 600px;
    margin-right: 50px;
   background-color: rgba(255, 255, 255, 0.5);  /* Make it transparent */
    backdrop-filter: blur(10px); 
    
    
  }
  
  .form-floating input:focus {
    background-color: rgba(255, 255, 255, 0.5);  /* Make it transparent */
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 0 0.2rem rgba(137, 156, 251, 0.336) 0 8px 15px;
  }
  .form-floating > label::after {
    background-color: transparent !important;
}
